<!DOCTYPE html>
<html lang="en">
<head>

      <title>Search for customer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylecustform.css">
</head>
<body style="background-color: steelblue">
   
    <div class="form" id="myForm">
    <form action="/processCustomerSearch" method = "POST" class="form-container">
        <!-- <h1>Add Customer:</h1>
        <label for="name">ID</label>
        <input type="text" placeholder="Enter Customer ID" name = "id" required><br> --> 
        <!-- Since customer id is autoincrement no need for entering customer id -->
        <label for="id">Customer ID</label>
        <input type="text" placeholder="Enter customer id" name="id" required><br>
        
        <input type="submit" value="Submit" class="btn">
           
    </form>
    </div>
    <footer>
            <p style="font-size: 20px" >&copy; 2019 Goa Motors LLP</p>
  <p>Contact information:
  <a href="mailto:goamotors@gmail.com">
 <br> Email: goamotors@gmail.com</a>
    <br><a href="tel:6481234674">
              Mobile:+91 6481234674 </a> </p>
    </footer>
</body>
</html>